.title {
    color: $primary-color;
    font-family: $font-family;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.text {
    color: $gray;
    font-family: $font-family;
    &_light {
        color: rgba($white,.7);
    }
}